<div class="text-center">
                <script src="https://cdn.rawgit.com/download/glyphicons/0.1.0/glyphicons.js"></script>


<p>
<button  class="btn btn-primary" (click)="changeShowStatus($event.target)">Show News</button>
</p>
<div  *ngIf="showHide">
        <table class="table table-striped" border="1">
                <thead>
                        <tr>
                                <th>Title</th>
                        <th>Description</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                                <td>Hello</td>
                                <td>All about Hello News</td>
                                <td>
                                                <button type="button" class="btn btn-default" aria-label="Add">
                                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                              </button>
                                </td>
                        </tr>
                        <tr>
                                        <td>Hello</td>
                                        <td>All about Hello News</td>
                                </tr>
                                <tr>
                                                <td>Hello</td>
                                                <td>All about Hello News</td>
                                        </tr>

                </tbody>
        </table>
       </div>