<p>
  admin works!
  <button (click)="onClickMe()">Click me!</button>
  {{clickMessage}}
</p>
<nav>
  <li routerLinkActive="active">
  <a routerLink="newsletter" target="_blank">News Letter</a>
  </li>
</nav>

<p>{{lastUpdateDateTime}}</p>
<h1>Text Area</h1>
<textarea [(ngModel)]="textValue" rows="12" cols="30"></textarea><br/>
<button (click)="logText(textarea.value)">Update Log</button>
<button (click)="textValue=''">Clear</button>

<h2>Log <button (click)="log=''">Clear</button></h2>
<pre>{{log}}</pre>